body { 
  font-family: 'Helvetica', 'Arial', sans-serif; 
  font-size: 30pt; 
  background-color: #000; 
  color: #fff;
  text-align:center;
}

#container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a:link, a:visited, a:active { 
  color: #fff; 
  text-decoration: none;
}

.button { 
  background-color: #333; 
  display: inline-block; 
  padding: 10px; 
  margin: 10px; 
  color: #fff; 
  text-decoration: none; 
  border-radius: 5px;
}
.clear {
	clear: both;
}
h4 {
  margin: 0;
} 

.menuContainer {
  width: 100%;
  margin: 0 auto;
  float: left;
  display: block;
}

.slidecontainer {
  width: 100%;
  text-align:center;
  font-size: 12pt; 
}

.joystickContainer {
  justify-content: center;
  align-items: center;
}
.joystick {
  display: inline-block;
  width:400px;
  height:400px;
  margin:0px;
  padding: 0;
  cursor: pointer; /* Cursor on hover */
}

.hidden {
  display: none;
}

.eyeContainer {
  width:50%;
  text-align:center;
  float:left;
}

.eye {
  display: block;
  z-index: 1;
  position: relative;
  margin:auto;
  width:200px; 
  height: 200px;
  text-align:center;
  border-radius: 100px;
  background-color: #fd2;
  border: 5px solid #fd2;
}

.eye > h5 {
  font-family: 'Helvetica', 'Arial', sans-serif; 
  font-size: 40pt; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
  text-align:center; 
  margin: 0;
  padding: 70px 0 0 0;
  color: black;
}

.menu_eye_buttons {
  margin: 0 auto;
  width: 540px;
}

.eye_button_headline {
  float:left;
  display: block;
}

.menu_eye_buttons > div, .eye_buttons > div {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 5px solid #fd2;
  float: left;
  display: block;
  padding: 0px;
  margin: 10px;
  font-size: 15px;
  color: #000;
  line-height: 58px;
  position: relative;
}
.eye_open {
  background-color: #fd2;
  color: #000;
}
.eye_close {
  background-color: #000;
  color: #fd2;
}

.eye_focus {
  background-color: #000;
  overflow: hidden;
}
.eye_focus > div {
  width: 100%;
  height: 24px;
  position: relative;
  top: 18px;
  background-color: #fd2;
  line-height: 24px;
}

.eye_sad, .eye_angry {
  background-color: #fd2;
  line-height: 80px;
  position: relative;
}

.eye_sad > div, .eye_angry > div {
  width: calc(100% + 20px);
  height: 40px;
  position: absolute;
  background-color: #000;
}
.left, .right {
  top: -20px;
}
.left {
  left:0px;
  transform: rotate(30deg);
}
.right {
  left:-20px;
  transform: rotate(-30deg);
}
.selected {
  border: 5px solid #f00 !important;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 50px; 
  background: #333; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  text-align: center;
  border-radius: 25px; 
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 50px; 
  height: 50px; 
  background: #fd2; 
  cursor: pointer; 
  border-radius: 25px; 
}

.slider::-moz-range-thumb {
  width: 50px; 
  height: 50px; 
  background: #fd2; 
  cursor: pointer; 
  border-radius: 20px;
}
